
@model List<HelpTheHelpers.Models.ATask>

<h1>To-Do List</h1>

<p>
    <a asp-controller="Tasks" asp-action="Add">Add Task</a>
</p>


<p>
    <a asp-controller="Tasks" asp-action="Delete">Delete Task</a>
</p>


@if (Model.Count == 0)
{
    <p>Please enter a task!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Contact Info
            </th>
            <th>
                Assigned To
            </th>
        </tr>
        @foreach (var tsk in ViewBag.tasks)
        {
    <tr>
        <td>@tsk.Id</td>
        <td>@tsk.Name</td>
        <td>@tsk.Description</td>
        <td>@tsk.ContactNumber</td>
        <td>@tsk.Category.Name</td>
    </tr>
        }
    </table>
}